// -------------------------------------------
// Navigation
// -------------------------------------------

// =Menus
// -------------------------------------------
._menu_dropdown {
	z-index: 2;
	.menu {
		.string;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	.menu-item{
		position: relative;

		&:hover > a {}
		&.current_page_item,
		&.current-menu-item { a {} }
	}

	a {
		display: block;
	}

	.sub-menu {
		display: none;
		float: left;
		position: absolute;
		left: 0em;
		z-index: 20;

		ul {
			left: 100%;
			top: 0;
		}

		.menu-item{}

		a {
			width: 200px;
		}
	}

	.menu-item:hover > .sub-menu,
	.menu-item.hover > .sub-menu {
		display: block;
	}
}


// Stub for main menu skin
.main-navigation {
	.sub-menu {
		a {}
	}

	a {
		li:last-child & {}
	}

	// Sub-menus
	ul ul {
		li {}

		a {}
	}

	.menu-item {
		&.current-menu-item,
		&.current_page_ancestor {
			a {}
		}

		&:hover,
		&.hover {
			> a {}
		}
	}
}

.secondary-navigation {
	a {}

	li {
		&:hover,
		&.hover,
		&.current-menu-item {
			a {}
		}
	}
}

/* Small menu */
.menu-toggle {
	cursor: pointer;

	@media @breakpoint-1 {
		.js & {
			// Hide menu toggle link above BP0 unless no-js
			// Non-JS agents get a link to a footer menu
			display: none;
		}
	}
}

.main-small-navigation {
	&.menu-visible {
		display: block;
		width: 100%;
		height: auto;
	}

	.menu {
		display: none;

		.menu-visible & {
			display: block;
		}
	}
}

// =Main Nav Skin
.main-small-navigation {
	z-index: 10;

	li {
		list-style: none;
	}

	a {
		text-decoration: none;
	}

	a:hover,
	a.hover {
	}

	.menu {
		.naked;
	}

	.sub-menu {
	}
}

// =Pagination

// =Sibling page navigation
.nav-previous {
	.pull-left();
	width: 50%;
}

.nav-next {
	.pull-right();
	text-align: right;
	width: 50%;
}
