@import '../site/variables';

._gutter-loop (@index) when (@index <= length(@_width_keywords)) {
	@line: extract( @_width_keywords, @index );
	@keyword: e(extract( @line, 1 ));
	@value: extract( @line, 2 );

	.gutter-above\:@{keyword} {
		margin-top: @value;
	}

	.gutter-below\:@{keyword} {
		margin-bottom: @value;
	}

	.gutter-before\:@{keyword} {
		margin-left: @value;
	}

	.gutter-after\:@{keyword} {
		margin-right: @value;
	}

	.gutter-all\:@{keyword} {
		margin: @value;
	}

	._gutter-loop(@index + 1);
}

._gutter-loop(1);